{{- $lb := "{{" -}}
{{- $rb := "}}" -}}
{{ printf "%s define \"base\" %s\n" $lb $rb }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ printf "%s block \"title\" . %s" $lb $rb }}{{ .AppName }}{{ printf "%s end %s" $lb $rb }}</title>
    <link rel="stylesheet" href="/assets/styles/output.css" />
    {{- if .Stack.HasFeature "frontend-htmx" }}
    <script src="/assets/scripts/htmx.min.js" defer></script>
    {{- end }}
    {{ printf "%s block \"head\" . %s" $lb $rb }}{{ printf "%s end %s" $lb $rb }}
  </head>
  <body class="{{ printf "%s block \"body_class\" . %s" $lb $rb }}{{ printf "%s end %s" $lb $rb }}">
    <header>
      {{ printf "%s template \"navbar\" . %s\n" $lb $rb }}
    </header>
    <main>
      {{ printf "%s block \"content\" . %s" $lb $rb }}{{ printf "%s end %s" $lb $rb }}
    </main>
    <script src="/assets/scripts/csrf.js" defer></script>
    {{ printf "%s block \"scripts\" . %s" $lb $rb }}{{ printf "%s end %s" $lb $rb }}
  </body>
</html>
{{ printf "%s end %s\n" $lb $rb }}
