package main

import (
    "context"
    "log"
    _ "github.com/joho/godotenv/autoload"

    "{{ .ModulePath }}/internal/app"
)

func main() {
    ctx := context.Background()

    application, err := app.New(ctx)
    if err != nil {
        log.Fatal(err)
    }

    if err := application.Run(ctx); err != nil {
        log.Fatal(err)
    }
}

