package http

import (
    "html/template"
    "net/http"
    "path/filepath"
)

func renderTemplate(w http.ResponseWriter, path string, data any) error {
    base := filepath.Join("web", "templates", "base.html")
    navbar := filepath.Join("web", "templates", "navbar.html")
    tmpl, err := template.ParseFiles(base, navbar, path)
	if err != nil {
		return err
	}
	w.Header().Set("Content-Type", "text/html; charset=utf-8")
	return tmpl.Execute(w, data)
}
