{{- if .Stack.HasFeature "database-sqlite" -}}
-- +goose Up
CREATE TABLE IF NOT EXISTS users (
    id TEXT PRIMARY KEY,
    email TEXT,
    name TEXT,
    avatar_url TEXT,
    created_at DATETIME NOT NULL
);

-- +goose Down
DROP TABLE IF EXISTS users;
{{- end -}}

