root = "."
tmp_dir = "bin"

[build]
  cmd = "go build -o ./bin/server ./cmd/server"
  bin = "./bin/server"
  delay = 1000
  exclude_dir = ["bin", "data", "public", ".git", "node_modules", "web/assets/styles/tokens"]
  exclude_regex = ["_test\\.go$"]
  include_dir = ["internal", "web", "cmd"]
  include_ext = ["go", "html", "css", "js", "sql", "tmpl"]
  kill_delay = "0s"
  send_interrupt = false
  stop_on_error = true

[log]
  time = false

[misc]
  clean_on_exit = true
