module {{ .ModulePath }}

go 1.24

require github.com/joho/godotenv v1.5.1

{{- if .Stack.HasFeature "database-sqlite" }}
require (
    github.com/jmoiron/sqlx v1.4.0
    github.com/mattn/go-sqlite3 v1.14.28
)
{{- end }}

{{- if .Stack.HasFeature "auth-github-oauth2" }}
require (
    golang.org/x/oauth2 v0.17.0
)
{{- end }}
